.page {
    width: 780px;
    margin: auto;
    font-family: "Times new roman", Arial, sans-serif;
    font-size: 16px;
}

.informations{
    height: 350px;
}

.personnel{
    float: right;
}

.photographie{
    float: left;
}

.paragraphe{
    display: flex;
    flex-direction: row;
}

.para-gauche{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.para-droite{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 50%;
}

h2{
    font-size: 28px;
    color: white;
    border-bottom: 3px solid aqua;
}

.titre{
    font-weight: bold;
    font-size: 20px;
}

#àgauch p{
    margin-bottom: 30px;
}

body{
    background-image: url(https://www.ecopetit.cat/wpic/mpic/44-443503_background-blue-wallpaper-design-background-bleu-ciel.png);
    background-size: cover;
    background-repeat: no-repeat;